.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

.detail .image {
  margin: 1em;
}

.container .image img {
  height: 300px;
  width: 300px;
  justify-content: center;
  border-radius: 50%;
}

.container .product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container .product img {
  width: 300px;
  height: 200px;
}
