.upper {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  background-color: #535c68;
}

.headers {
  flex: 3;
  padding: 2em 1em;
  margin-bottom: auto;
}

.container-fluid {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: white;
}

.container-fluid h1 {
  padding: 20px;
}

.carousel-item {
  height: 20em;
  filter: brightness(100%);
}

.additions {
  text-align: center;
  margin: 60px;
}
