.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card .labels {
  display: flex;
  justify-content: space-around;
}

.card .buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}
