.dropdown-menu .dropdown-item {
  color: black;
  background-color: green;
}

.nav-link {
  color: white;
}

.navbar-nav .nav-item :hover {
  margin: 1px;
  background-color: darkblue;
  border-radius: 20%;
}
